In [335]:
from sklearn import tree
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [336]:
train_data = pd.read_csv('house-prices-advanced-regression-techniques/train.csv', index_col=0)
test_data = pd.read_csv('house-prices-advanced-regression-techniques/test.csv', index_col=0)

In [232]:
train_data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [233]:
test_data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [286]:
df = pd.concat([train_data , test_data])
df = df.drop(['PoolQC', 'Fence', 'MiscFeature', 'Alley', 'FireplaceQu'], axis=1)
df = pd.get_dummies(df)

In [287]:
train = df[df.index.isin(train_data.index)]
test = df.drop(train_data.index)

In [288]:
test = df.drop(train_data.index)

In [289]:
print(train.shape, test.shape, train_data.shape)

(1460, 271) (1459, 271) (1460, 80)

In [308]:
X = train

In [240]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(X.isnull().sum())

MSSubClass                 0
LotFrontage              259
LotArea                    0
OverallQual                0
OverallCond                0
YearBuilt                  0
YearRemodAdd               0
MasVnrArea                 8
BsmtFinSF1                 0
BsmtFinSF2                 0
BsmtUnfSF                  0
TotalBsmtSF                0
1stFlrSF                   0
2ndFlrSF                   0
LowQualFinSF               0
GrLivArea                  0
BsmtFullBath               0
BsmtHalfBath               0
FullBath                   0
HalfBath                   0
BedroomAbvGr               0
KitchenAbvGr               0
TotRmsAbvGrd               0
Fireplaces                 0
GarageYrBlt               81
GarageCars                 0
GarageArea                 0
WoodDeckSF                 0
OpenPorchSF                0
EnclosedPorch              0
3SsnPorch                  0
ScreenPorch                0
PoolArea                   0
MiscVal                    0
MoSold                     0
YrSold                     0
SalePrice                  0
MSZoning_C (all)           0
MSZoning_FV                0
MSZoning_RH                0
MSZoning_RL                0
MSZoning_RM                0
Street_Grvl                0
Street_Pave                0
LotShape_IR1               0
LotShape_IR2               0
LotShape_IR3               0
LotShape_Reg               0
LandContour_Bnk            0
LandContour_HLS            0
LandContour_Low            0
LandContour_Lvl            0
Utilities_AllPub           0
Utilities_NoSeWa           0
LotConfig_Corner           0
LotConfig_CulDSac          0
LotConfig_FR2              0
LotConfig_FR3              0
LotConfig_Inside           0
LandSlope_Gtl              0
LandSlope_Mod              0
LandSlope_Sev              0
Neighborhood_Blmngtn       0
Neighborhood_Blueste       0
Neighborhood_BrDale        0
Neighborhood_BrkSide       0
Neighborhood_ClearCr       0
Neighborhood_CollgCr       0
Neighborhood_Crawfor       0
Neighborhood_Edwards       0
Neighborhood_Gilbert       0
Neighborhood_IDOTRR        0
Neighborhood_MeadowV       0
Neighborhood_Mitchel       0
Neighborhood_NAmes         0
Neighborhood_NPkVill       0
Neighborhood_NWAmes        0
Neighborhood_NoRidge       0
Neighborhood_NridgHt       0
Neighborhood_OldTown       0
Neighborhood_SWISU         0
Neighborhood_Sawyer        0
Neighborhood_SawyerW       0
Neighborhood_Somerst       0
Neighborhood_StoneBr       0
Neighborhood_Timber        0
Neighborhood_Veenker       0
Condition1_Artery          0
Condition1_Feedr           0
Condition1_Norm            0
Condition1_PosA            0
Condition1_PosN            0
Condition1_RRAe            0
Condition1_RRAn            0
Condition1_RRNe            0
Condition1_RRNn            0
Condition2_Artery          0
Condition2_Feedr           0
Condition2_Norm            0
Condition2_PosA            0
Condition2_PosN            0
Condition2_RRAe            0
Condition2_RRAn            0
Condition2_RRNn            0
BldgType_1Fam              0
BldgType_2fmCon            0
BldgType_Duplex            0
BldgType_Twnhs             0
BldgType_TwnhsE            0
HouseStyle_1.5Fin          0
HouseStyle_1.5Unf          0
HouseStyle_1Story          0
HouseStyle_2.5Fin          0
HouseStyle_2.5Unf          0
HouseStyle_2Story          0
HouseStyle_SFoyer          0
HouseStyle_SLvl            0
RoofStyle_Flat             0
RoofStyle_Gable            0
RoofStyle_Gambrel          0
RoofStyle_Hip              0
RoofStyle_Mansard          0
RoofStyle_Shed             0
RoofMatl_ClyTile           0
RoofMatl_CompShg           0
RoofMatl_Membran           0
RoofMatl_Metal             0
RoofMatl_Roll              0
RoofMatl_Tar&Grv           0
RoofMatl_WdShake           0
RoofMatl_WdShngl           0
Exterior1st_AsbShng        0
Exterior1st_AsphShn        0
Exterior1st_BrkComm        0
Exterior1st_BrkFace        0
Exterior1st_CBlock         0
Exterior1st_CemntBd        0
Exterior1st_HdBoard        0
Exterior1st_ImStucc        0
Exterior1st_MetalSd        0
Exterior1st_Plywood        0
Exterior1st_Stone          0
Exterior1st_Stucco         0
Exterior1st_VinylSd        0
Exterior1st_Wd Sdng        0
Exterior1st_WdShing        0
Exterior2nd_AsbShng        0
Exterior2nd_AsphShn        0
Exterior2nd_Brk Cmn        0
Exterior2nd_BrkFace        0
Exterior2nd_CBlock         0
Exterior2nd_CmentBd        0
Exterior2nd_HdBoard        0
Exterior2nd_ImStucc        0
Exterior2nd_MetalSd        0
Exterior2nd_Other          0
Exterior2nd_Plywood        0
Exterior2nd_Stone          0
Exterior2nd_Stucco         0
Exterior2nd_VinylSd        0
Exterior2nd_Wd Sdng        0
Exterior2nd_Wd Shng        0
MasVnrType_BrkCmn          0
MasVnrType_BrkFace         0
MasVnrType_None            0
MasVnrType_Stone           0
ExterQual_Ex               0
ExterQual_Fa               0
ExterQual_Gd               0
ExterQual_TA               0
ExterCond_Ex               0
ExterCond_Fa               0
ExterCond_Gd               0
ExterCond_Po               0
ExterCond_TA               0
Foundation_BrkTil          0
Foundation_CBlock          0
Foundation_PConc           0
Foundation_Slab            0
Foundation_Stone           0
Foundation_Wood            0
BsmtQual_Ex                0
BsmtQual_Fa                0
BsmtQual_Gd                0
BsmtQual_TA                0
BsmtCond_Fa                0
BsmtCond_Gd                0
BsmtCond_Po                0
BsmtCond_TA                0
BsmtExposure_Av            0
BsmtExposure_Gd            0
BsmtExposure_Mn            0
BsmtExposure_No            0
BsmtFinType1_ALQ           0
BsmtFinType1_BLQ           0
BsmtFinType1_GLQ           0
BsmtFinType1_LwQ           0
BsmtFinType1_Rec           0
BsmtFinType1_Unf           0
BsmtFinType2_ALQ           0
BsmtFinType2_BLQ           0
BsmtFinType2_GLQ           0
BsmtFinType2_LwQ           0
BsmtFinType2_Rec           0
BsmtFinType2_Unf           0
Heating_Floor              0
Heating_GasA               0
Heating_GasW               0
Heating_Grav               0
Heating_OthW               0
Heating_Wall               0
HeatingQC_Ex               0
HeatingQC_Fa               0
HeatingQC_Gd               0
HeatingQC_Po               0
HeatingQC_TA               0
CentralAir_N               0
CentralAir_Y               0
Electrical_FuseA           0
Electrical_FuseF           0
Electrical_FuseP           0
Electrical_Mix             0
Electrical_SBrkr           0
KitchenQual_Ex             0
KitchenQual_Fa             0
KitchenQual_Gd             0
KitchenQual_TA             0
Functional_Maj1            0
Functional_Maj2            0
Functional_Min1            0
Functional_Min2            0
Functional_Mod             0
Functional_Sev             0
Functional_Typ             0
GarageType_2Types          0
GarageType_Attchd          0
GarageType_Basment         0
GarageType_BuiltIn         0
GarageType_CarPort         0
GarageType_Detchd          0
GarageFinish_Fin           0
GarageFinish_RFn           0
GarageFinish_Unf           0
GarageQual_Ex              0
GarageQual_Fa              0
GarageQual_Gd              0
GarageQual_Po              0
GarageQual_TA              0
GarageCond_Ex              0
GarageCond_Fa              0
GarageCond_Gd              0
GarageCond_Po              0
GarageCond_TA              0
PavedDrive_N               0
PavedDrive_P               0
PavedDrive_Y               0
SaleType_COD               0
SaleType_CWD               0
SaleType_Con               0
SaleType_ConLD             0
SaleType_ConLI             0
SaleType_ConLw             0
SaleType_New               0
SaleType_Oth               0
SaleType_WD                0
SaleCondition_Abnorml      0
SaleCondition_AdjLand      0
SaleCondition_Alloca       0
SaleCondition_Family       0
SaleCondition_Normal       0
SaleCondition_Partial      0
dtype: int64

In [44]:
# X.FireplaceQu.unique()

array([nan, 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [200]:
X.LotFrontage.describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [309]:
X = X.fillna({"LotFrontage": X.LotFrontage.median()})

In [310]:
X.shape

(1460, 271)

In [294]:
X = X.fillna(0)

In [311]:
X = X.dropna(axis=0)

In [85]:
# X = X.dropna(subset=['GarageType', 'BsmtExposure','MasVnrType', 'BsmtFinType2', 'Electrical'], axis=0)

In [66]:
# X = X[X.GarageType.notna()]

In [67]:
# X = X[X.BsmtExposure.notna()]

In [68]:
X.loc[(X.BsmtQual != "Gd") & ( X.BsmtQual != "TA") & (X.BsmtQual != "Ex") & (X.BsmtQual != "Fa" )]

Empty DataFrame
Columns: [MSSubClass, MSZoning, LotFrontage, LotArea, Street, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 75 columns]

In [181]:
# X_fixed = pd.get_dummies(X)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
2,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
3,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
4,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
5,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1457,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,1,0,0,0,0,1,0
1458,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,1,0,0,0,0,1,0
1459,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,1,0,0,0,0,1,0
1460,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,1,0,0,0,0,1,0

In [312]:
X.shape

(1371, 271)

In [313]:
y = X.SalePrice
X = X.drop('SalePrice', axis=1)

In [314]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [315]:
X_test

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
459,70,69.0,5100,8,7,1925,1996,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
629,60,70.0,11606,5,5,1969,1969,192.0,650.0,0.0,...,0,0,0,1,0,0,0,1,0,0
319,60,90.0,9900,7,5,1993,1993,256.0,987.0,0.0,...,0,0,0,1,0,0,0,0,1,0
200,20,76.0,9591,8,5,2004,2005,262.0,1088.0,0.0,...,0,0,0,1,0,0,0,0,1,0
264,50,50.0,5500,5,7,1929,2001,0.0,234.0,692.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,60,69.0,14803,6,5,1971,1971,252.0,416.0,0.0,...,0,0,0,1,0,0,0,0,1,0
755,20,61.0,7930,6,8,1969,2005,0.0,439.0,472.0,...,0,0,0,1,0,0,0,0,1,0
700,120,59.0,4282,7,5,2004,2004,0.0,16.0,0.0,...,0,0,0,1,0,0,0,0,1,0
610,20,61.0,7943,4,5,1961,1961,192.0,903.0,0.0,...,0,0,0,1,0,0,0,0,1,0
151,20,120.0,10356,5,6,1975,1975,0.0,716.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [72]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [316]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
prediction = rf.predict(X_test)

### Choosing the best parametres

In [337]:
clf_rf = RandomForestClassifier()

In [349]:
parametrs = {'n_estimators': [10,15, 22, 24, 26], 'max_depth' : [7, 10, 13, 15], 
             'min_samples_leaf': range(1, 5)}

In [350]:
grid_search_cv_clf = GridSearchCV(clf_rf, parametrs, cv=5)

In [346]:
X_train

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1280,50,60.0,7500,4,4,1920,1950,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1308,20,60.0,8072,5,5,1994,1995,0.0,746.0,0.0,...,0,0,0,1,0,0,0,0,1,0
243,50,63.0,5000,5,4,1900,1950,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1002,30,60.0,5400,5,6,1920,1950,0.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0
296,80,37.0,7937,6,6,1984,1984,0.0,819.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,20,64.0,10475,8,5,2008,2008,72.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1204,20,75.0,9750,7,5,2000,2001,171.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1380,80,73.0,9735,5,5,2006,2007,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
913,30,51.0,6120,5,7,1925,1950,0.0,489.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1200,20,75.0,11235,4,5,1963,1979,51.0,547.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [347]:
y_train

Id
1280     68400.0
1308    138000.0
243      79000.0
1002     86000.0
296     142500.0
          ...
1167    245350.0
1204    213000.0
1380    167500.0
913      88000.0
1200    148000.0
Name: SalePrice, Length: 918, dtype: float64

In [351]:
grid_search_cv_clf.fit(X_train, y_train)

/Users/yulialysenko/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [7, 10, 13, 15],
                         'min_samples_leaf': range(1, 5),
                         'n_estimators': [10, 15, 22, 24, 26]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [353]:
best_clf = grid_search_cv_clf.best_estimator_

In [354]:
best_clf.score(X_test, y_test)

0.019867549668874173

In [355]:
predict = best_clf.predict(test)

In [103]:
from sklearn import metrics

In [318]:
metrics.accuracy_score(y_test, prediction)

0.006622516556291391

In [105]:
y_test

Id
833     237000
966     178900
970     140000
1412    140000
285     179200
         ...
704     140000
662     402000
799     485000
352     190000
522     150000
Name: SalePrice, Length: 442, dtype: int64

In [300]:
test = test.fillna({"LotFrontage": test.LotFrontage.median()})

In [301]:
test = test.drop('SalePrice', axis=1)

In [302]:
test = test.fillna(0)

In [319]:
test.shape

(1459, 270)

In [304]:
X.shape

(1460, 270)

In [228]:
test

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,20,80.0,13384,5,5,1969,1979,194.0,119.0,344.0,...,0,0,0,1,0,0,0,0,1,0
2913,160,21.0,1533,4,5,1970,1970,0.0,408.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [166]:
# test_data = test_data.drop(['PoolQC', 'Fence', 'MiscFeature', 'Alley', 'FireplaceQu'], axis=1)

In [167]:
# test_data = test_data.fillna({"LotFrontage": test_data.LotFrontage.median()})

In [320]:
y_pred = rf.predict(test)

In [271]:
sample = pd.read_csv('house-prices-advanced-regression-techniques/sample_submission.csv')

In [272]:
sample

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [356]:
test_data = pd.read_csv('house-prices-advanced-regression-techniques/test.csv')

In [357]:
test_data['SalePrice'] = y_pred

In [323]:
y_pred.shape

(1459,)

In [358]:
pred_df = test_data[['Id', 'SalePrice']]
pred_df.set_index('Id', inplace=True)

In [359]:
pred_df

      SalePrice
Id
1461   145000.0
1462   106500.0
1463   189000.0
1464   140000.0
1465   171750.0
...         ...
2915    88000.0
2916    88000.0
2917   160000.0
2918   115000.0
2919   200000.0

[1459 rows x 1 columns]

In [360]:
compression_opts = dict(method='zip',
                        archive_name='out.csv')  
pred_df.to_csv('out.zip',
          compression=compression_opts)